<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action= "/newteam" >
     <h1>Create a Basketball Team!</h1>
     <label for = "name" ></label>
     <input id = "name">
     <input type = "submit" id = "submit">
   </form>
 </body>
</html>


