<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action= "/newteam" >
     <h1>Create a Basketball Team!</h1>
     <label for = "name" >Team Name:</label>
     <input id = "name">
     
      <label for = "coach" >Coach:</label>
     <input id = "coach">
     
      <label for = "point_guard" >Point Guard:</label>
     <input id = "name">
     
      <label for = "name" >Shooting Guard:</label>
     <input id = "name">
     
      <label for = "name" >Small Forward:</label>
     <input id = "sm_forward" name="sm_forward">
     
      <label for = "pw_forward" >Power Forward:</label>
     <input id = "pw_forward" name = "pw_forward">
     
      <label for = "center" >Center</label>
     <input id = "center" name = "center">
     <input type = "submit" id = "Submit">
   </form>
 </body>
</html>


